{% extends "base_email.html" %}
{% block title %}Registration Auctioneer{% endblock %}
{% block header %}Welcome to Auctioneer! 🎉{% endblock %}

{% block content %}
<p>Dear {{ user.username }},</p>

<p>
  Thank you for registering with us. We're excited to have you as part of our
  community.
</p>

<p>
  To get started, please login with your email address by clicking the button
  below:
</p>

<a href="http://{{ login_link }}" class="cta-button">Login</a>

<p>If you did not register for an account, you can safely ignore this email.</p>
{% endblock %}